version: '3'
services:
  app:
    restart: always
    build:
      context: .
    volumes:
      - .:/app
    command: sh -c "rm -f tmp/pids/server.pid && ./bin/dev && yard server"
    stdin_open: true
    tty: true
    ports:
      - 3000:3000
    depends_on:
      - db
  db:
    restart: always
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: password
      TZ: 'Asia/Tokyo'
    tty: true
    command: --default-authentication-plugin=mysql_native_password
    ports:
      - 3306:3306