version: '3'
services:
  app:
    restart: always
    build:
      context: .
      dockerfile: 'DEV.Dockerfile'
    volumes:
      - .:/app:cached
      - bundle:/usr/local/bundle:cached
      - node_modules:/app/node_modules:cached
    command: sh -c "rm -f tmp/pids/server.pid && ./bin/dev && yard server"
    stdin_open: true
    tty: true
    ports:
      - 3000:3000
    depends_on:
      - db
      - elasticsearch

  db:
    restart: always
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: password
      TZ: 'Asia/Tokyo'
    tty: true
    command: --default-authentication-plugin=mysql_native_password
    ports:
      - 3306:3306
    volumes:
      - mysql-data:/var/lib/mysql

  elasticsearch:
    build: ./docker/elasticsearch
    volumes:
      - es-data:/usr/share/elasticsearch/data
    environment:
      - cluster.name=docker-cluster
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    ports:
      - "9200:9200"

volumes:
  mysql-data:
  bundle:
  node_modules:
  es-data:
