default: &default
  adapter: mysql2
  encoding: utf8mb4
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username: root
  password: password
  host: db

development:
  <<: *default
  database: development_db

test:
  <<: *default
  database: development_test

production:
  <<: *default
  url: <%= (ENV.fetch("JAWSDB_URL") { "mysql://test:test@example.com:3306/test" }).gsub(/mysql/, 'mysql2') %>
